body{
    background-image: url("../images/photo-1508419185846-72baff98c985.jpg");
    background-size:     cover;
   background-repeat:   no-repeat;
}
#location{
    max-width: 20%;
    background-color: #F5F5F5
}
#file_type_selector{
    max-width: 20%;
    background-color: #F5F5F5;
}

#upload{
    display:inline;
}
#file_name{
    color:white;

    font-size: 15px;
}
